.circ_2{
    max-width: 250px;
    align-self: center;
    text-align: center;
}
.topnav {
  background-color: black;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
}

.topnav a:hover {
  background-color: red;
  color: white;
}

.topnav a.active {
  background-color: blue;
  color: white;
}

h1 {
  color: black;
  font-family: 'Pacifico', cursive;
  text-align: center;
  font-size: 7em;
}

h2 {
  color: white;
  font-family: 'Pacifico', cursive;
  text-align: center;
  font-size: 5em;
  margin: 10px;
}

p {
  color: black;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

h3 {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 3em;
  text-align: center;
}

h4 {
  color: black;
  font-family: 'Pacifico', cursive;
  font-size: 2em;
  margin: 0;
  text-align: center;
}

.title {
  background-color: white;
}

.form {
  background-color: pink;
  text-align: center;
}

.featured img{
  width: 500px;
  margin: 10px;
}

.featured p, h4{
  word-wrap: break-word;
  width: 400px;
  text-align: left;
}

.featured img,p,h4{
  display: block;
  margin: 10px auto;
}

.intro {
  background-color: rgb(89,25,124);
}

.intro p{
  color: white;
  font-size: 2em;
}

.others {
  background-color: pink;
  padding: 10px;
}

.others img {
  padding: 20px;
}

.hvrbox,
.hvrbox * {
	box-sizing: border-box;
}
.hvrbox {
	position: relative;
	display: inline-block;
	overflow: hidden;
	max-width: 100%;
	height: auto;
}
.hvrbox img {
	max-width: 100%;
}
.hvrbox .hvrbox-layer_bottom {
	display: block;
}
.hvrbox .hvrbox-layer_top {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(235, 52, 52, 0.6);
	color: #fff;
	padding: 15px;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}
.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
	opacity: 1;
}
.hvrbox .hvrbox-text {
	text-align: center;
	font-size: 18px;
  font-family:'Roboto', sans-serif;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.hvrbox .hvrbox-text_mobile {
	font-size: 15px;
	border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
	border-top: 1px solid rgba(179, 179, 179, 0.7);
	margin-top: 5px;
	padding-top: 2px;
	display: none;
}
.hvrbox.active .hvrbox-text_mobile {
	display: block;
}

h5 {
  font-size: 24px;
}
/* .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.col-sm-6 {
  flex: 50%;
  padding: 0 4px;
}

.col-sm-6 img{
  margin-top: 8px;
  vertical-align: middle;
} */

.activities {
  background-color: orange;
  padding: 10px;
}

.thumbnail img{
  width: 400px;
}

/* .activities img{
  width: 200px;
} */

/* .activities figcaption{
  word-wrap: break-word;
  width: 200px;
  font-family: 'Roboto', sans-serif;
} */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  text-align: center;
}

.others img{
  width: 400px;
}
