h1 {
  color: black;
  font-family: 'Pacifico', cursive;
  text-align: center;
  font-size: 7em;
}

h2 {
  color: blac;
  font-family: 'Pacifico', cursive;
  text-align: center;
  font-size: 5em;
}

p {
  color: black;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

h3 {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 3em;
  text-align: center;
}

.featured {
  width: 200px;
}
