.circ_2{
    max-width: 225px;
    align-self: center;
    text-align: center;
}

.topnav {
  background-color: #FF9250;
  overflow: hidden;
  margin: 0;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
}

.topnav a:hover {
  background-color: rgb(35, 159, 157);
  color: white;
}

.topnav a.active {
  background-color: #ED9C98;
  color: white;
}

body {
  background-image: url(women-background.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  color: black;
  font-family: 'Pacifico', cursive;
  text-align: center;
  font-size: 7em;
}

h2 {
  color: white;
  font-family: 'Pacifico', cursive;
  text-align: center;
  font-size: 7em;
  margin: 10px;
}

p {
  color: black;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

h3 {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 3em;
  text-align: center;
}

h4 {
  color: black;
  font-family: 'Pacifico', cursive;
  font-size: 3.5em;
  margin: 0;
  text-align: center;
}

h6 {
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
}

#myName {
  height: 40px;
  width: 320px;
}

#myEmail {
  height: 40px;
  width: 320px;
}

#myWoman {
  height: 150px;
  width: 320px;
}

.title {
  height: 500px;
  /* line-height: 500px;
  /* padding: 50px; */ */
}

.opening {
  height: 400px;

}

#subtitle {
  vertical-align: middle;
  padding: 130px;
}

.title h1, p{
  color: white;
}


.title p{
  font-family: 'Poppins', sans-serif;
  font-size: 2.5em;
}
form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.verticaldown{
  display: flex;
  flex-direction: column;

}
.form {
  background-color: pink;
  text-align: center;
  height: 500px;
}

.form p{
  font-size: 2em;
}

#submitform {
  height: 40px;
}


.featured {
  background-color: rgb(35, 159, 157, 0.8)
}

.featured p, h4{
  word-wrap: break-word;
  width: 500px;
  text-align: center;
  color: #1A1A1A;
}


.featuredtext {
  /* background-color: rgb(255, 255, 255, 0.8); */
  height: 500px;
  padding: 80px;
  margin: 10px;
}

.featured p {
  font-size: 1.5em;
  padding: 10px;
}

.featured img{
  display: block;
  margin: 10px auto;
  width: 500px;
}

.intro {
  /* background-color: #ED9C98; */
  margin: 0;
  height: 700px;
}

.intro p{
  color: white;
  font-size: 2em;
}

.introtext {
  padding: 200px;
}

.others-title {
  height: 300px;
  line-height: 300px;
  padding: 100px;
  border: 1px;
}

.others-title h4 {
  color: white;
  text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
}

.others {
  background-color: rgb(26, 26, 26, 0.8);
  padding: 10px;
}

.others img {
  padding: 0;
  border: 10px solid #FF9250;
}

.hvrbox {
  text-align: center;
}

.hvrbox,
.hvrbox * {
	box-sizing: border-box;
}
.hvrbox {
	position: relative;
	display: inline-block;
	overflow: hidden;
	max-width: 100%;
	height: auto;
}
.hvrbox img {
	max-width: 100%;
}
.hvrbox .hvrbox-layer_bottom {
	display: block;
}
.hvrbox .hvrbox-layer_top {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 147, 80, 0.6);
	color: #fff;
	padding: 15px;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}
.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
	opacity: 1;
}
.hvrbox .hvrbox-text {
	text-align: center;
	font-size: 18px;
  font-family:'Roboto', sans-serif;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.hvrbox .hvrbox-text_mobile {
	font-size: 15px;
	border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
	border-top: 1px solid rgba(179, 179, 179, 0.7);
	margin-top: 5px;
	padding-top: 2px;
	display: none;
}
.hvrbox.active .hvrbox-text_mobile {
	display: block;
}

h5 {
  font-size: 24px;
}
/* .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.col-sm-6 {
  flex: 50%;
  padding: 0 4px;
}

.col-sm-6 img{
  margin-top: 8px;
  vertical-align: middle;
} */

.activities {
  background-color: #FF9250;
  padding: 10px;
  height: 600px;
}

.activities-title {
  height: 300px;
}

.activities-title h4 {
  color: white;
  text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
}

.act-stuff {
  padding: 100px;
}

.act-title-text {
  height: 300px;
  padding: 75px;
}

.activities-title p {
  color: white;
  font-size: 2em;
  padding: 20px;
}

.activities img{
  border: 1px solid #021a40;
}

.thumbnail img{
  width: 400px;
}

/* .activities img{
  width: 200px;
} */

/* .activities figcaption{
  word-wrap: break-word;
  width: 200px;
  font-family: 'Roboto', sans-serif;
} */

.footer {
  position: bottom;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(26, 26, 26);
  text-align: center;
}

.fa {
  padding: 10px;
  font-size: 20px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #DD2A7B;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.others img{
  width: 400px;
}
